.content-container {
  max-width: 80%;
  height: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 100%;
  flex-direction: column;
}

.App {
  text-align: center;
  height: 100vh;
}

.row-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
