.transition-path {
  stroke: black;
  fill: none;
}

.state-border {
  stroke: black;
  fill: white;
}

/* .state-border-selected {
  stroke: black;
  fill: #56ccf2;
} */

.state-label {
  font-size: 12px;
}

.state {
  cursor: pointer;
}
