.lts-accordion-header {
  background-color: white !important;
  /* min-height: 84px !important; */
}

.MuiAccordion-root {
  margin-top: 0 !important;
  width: 45% !important;
}

.css-tvlu1z-MuiPaper-root-MuiAccordion-root:before {
  background-color: white !important;
}
