.content-container {
  max-width: 80%;
  height: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  padding-top: 20px;
  align-items: flex-start;
}

.input-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.lts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.App {
  text-align: center;
  height: 100vh;
}
